$color1: #edae49;
$color2: #00a7e1;
$color3: #197278;
$color4: #eaebed;
$color5: #007ea7;

$dark: darken($color5, 16%);
$less-dark: darken($color5, 8%);
$warning: $color1;

// Navbar
$background: $color3;
$navbar-item-color: $color4;

$navbar-background-color: $less-dark;
$navbar-box-shadow-color: $dark;

// Customized navbar - dark apparently throws in some difficulties in using bulma variables:
.navbar {
  .navbar-menu {
    .navbar-item {
      &:hover {
        color: $color3;
      }
      &:active,
      &.is-active {
        background-color: $dark;
        color: $color4;
      }
    }
    .has-margin-left {
      margin-left: 1em;
    }
  }
}

// Footer
$footer-background-color: $color4;

@import "../../node_modules/bulma/bulma.sass";

nav .navbar-brand .navbar-item a {
  color: #ffffff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0 auto;
}

header.page-title {
  padding: 3em;
  h1 {
    text-align: center;
    color: $dark;
  }
  p {
    text-align: center;
    font-size: 1.5em;
    color: #777777;
    line-height: 1.7em;
    &:not(:last-child) {
      margin-bottom: 1.5em;
    }
  }
}

main {
  padding: 1em;
}

.navbar-brand a {
  text-transform: uppercase;
  font-size: 1.5em;
}

.footer {
  padding: 3em 1.5em;

  .tabs ul {
    border-bottom-width: 0;
    a:hover {
      color: #000000;
    }
  }
}

.footer-alternative {
  padding: 3em 1.5em;
  background-color: $color1;

  a {
    color: $color3;
    &:hover {
      color: $dark;
    }
  }

  .icon {
    vertical-align: top;
  }
}

dl {
  dt {
    font-weight: 700;
  }
}

.project-detail {
  margin-bottom: 3em;

  // Project title:
  h3 {
    color: $dark;
  }
}
