$color1: #EDAE49;
$color2: #00A7E1;
$color3: #197278;
$color4: #EAEBED;
$color5: #007EA7;

$dark: $color5;
$warning: $color1;

// Navbar:
$navbar-background-color: $color3;

// Footer
$footer-background-color: $color4;


@import '../../node_modules/bulma/bulma.sass';

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0 auto;
}

main {
  padding: 1em
}

.navbar-brand a {
  text-transform: uppercase;
  font-size: 1.5em;
}

footer {
  padding: 1em;

  .tabs ul {
    border-bottom-width: 0;
    a:hover {
      color: #000000;
    }
  }
}
dl {
  dt {
    font-weight: 700;
  }
}
