body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

header {
  h1 {
    font-weight: 700;
  }
}

footer {
  background-color: #000000;
  padding: 1em;

  a {
    color: #eeeeee;
    &:hover {
      color: #cccccc;
    }
  }
}
dl {
  dt {
    font-weight: 700;
  }
}
